Book3.xlsx                      
mixtral_tp2_cpu10.csv
cpu10_pp2_conc1_in4.csv         
mixtral_tp2_cpu20.csv
cpu10_pp2_conc4_in12.csv        
mixtral-cpu60-tp2.csv
cpu10_tp2_conc1_in4.csv         
mixtral-cpu60-tp2.xlsx
cpu10_tp2_conc4_in12.csv        
pp2
               
report4.sqlite
                      
requirements.txt
gpu_comparison_normalized.png   
tp2
gpu_comparison.png              
venv
gpu_per_device_comparison.png   

mistral-tp.nsys-rep             
